body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../assets/back-om.jpg") ;
}

.logo2{
    image-resolution: 100%;
    align-items: center;
    width: 100%;
    text-align: center;
}  

.image{
    align-items: center;
}


img.icon{
    width: 30px;
}

nav{
    background-color:#8E85A7!important;
    /*position: fixed !important;
    width: 100%;
    z-index: 200;*/
}



a.nav-link{
 color:white;
 font-weight: bolder;
}

a.nav-link:hover{
    color:#310B60;
    text-decoration: underline;
   }

   .navbar-toggler{
       border:1px solid white !important;
 
   }

img.logo-nav{
    max-width: 60px;
}


footer{
 background-color:#8E85A7;
    height: 4rem;
    width: 100%;
    padding: .5rem;
    text-align: center;
    color: white;
}

footer p{
    margin-bottom: 0;
}

.jumbotron{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0 !important;
}

.content{
    text-align: justify;
    background-color: thistle;
}

div#about{
 padding: 2rem;
}


div#carousel div {
    padding: 0!important;
}

div.carousel-caption{
    background-color: rgba(0, 0, 0, .5);
}

div#typesMandalas{
 padding: 2rem;
}

div#made{
    padding: 2rem;
}

.image2{align-items: center;}

.card-text{font-family: Arial, Helvetica, sans-serif;
   text-align: justify;}

.card-title{font-family: Arial, Helvetica, sans-serif;
    text-align: justify;}

div.content#color{
    padding: 2rem;
}

div.card-color {
    padding: 2rem;
}

.nav-link2{text-align: center;
    color: black;
}

@media (min-width: 700px) { 
    div#carouselResponsive{
        display: none;
    }
    
 }


 /*Estilos para mobile*/
 @media (max-width: 701px) { 
    div#carousel{
        display: none;
    }
    .display-4{
        font-size: 2rem!important;
    }
    .a {text-align: center;
        color: black;}
 }
 #color{text-align: center;}
