<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <link rel="stylesheet" href="../css/main.css">
    <!-- Este es el enlace de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg  ">
        <div class="container">
            <a class="navbar-brand " href="#"><img src="../assets/LOGO MANDALAS4.png" class="img-fluid logo-nav"
                    alt="Responsive image" id="logo2"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="../index.html">Nosotros </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="views/catalogo.html">Colores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="views/contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container content" id="color">
        <div class="row card-color">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="../assets/ESTAMBRE BCO.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Blanco: el color perfecto. Es iluminación, pureza, la nada, el todo por
                            hacer.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="../assets/ESTAMBRE NEGRO.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Negro: éste color regularmenre se relaciona con la muerte, el misterio,Lo profundo.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="../assets/ESTAMBRE GRIS.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Gris: éste color se asocia con la neutralidad, la sabiduría y la renovación. Calma y
                            espera.</p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row card-color">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="../assets/ESTAMBRE VERDE.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Verde: naturaleza, crecimiento, esperanza, libertad, felicidad.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="../assets/ESTAMBRE AZUL.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Azul: implica tranquilidad, alegría, satisfacción y paz.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="../assets/ESTAMBRE ROJO.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Rojo: amor, pasión y sensualidad. Energía pura.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row card-color">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="../assets/ESTAMBRE MORADO.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Morado: asociado con idealismo, sabiduría y contemplación.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="../assets/ESTAMBRE AMARILLO.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Amarillo: color del sol, de la luz y de la simpatía irradiada.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="../assets/ESTAMBRE NARANJA.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Naranja: energía, dinamismo, ambición, ternura, valor.</p>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
</div>


    <footer>
    
                </div>

        
                </div>
            </div>
        </div>

    </footer>
</body>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
    integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
    crossorigin="anonymous"></script>

<script src="../js/main.js"></script>

</html>